:root {
    --pagewidth: 50vw;
}

h1 {
    margin-top: 100px;
    color: #832473;
    font-size: 30px;
}

p, li, h1, h2, h3, h4, h5, h6, label {
  font-family: Arial, Helvetica, sans-serif;
}

p, li {
    color: rgb(0, 0, 0);
    width: var(--pagewidth);
    font-size: larger;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(255, 255, 255);
}

canvas {
    background-color: black;
    margin-bottom: 150px;
}

.align-center {
    text-align: center;
}

.game-caption {
    margin-bottom: 20px;
    font-size: larger;
}

.paragraph {
    margin-bottom: 100px;
}

.code-block {
    display: inline-block;
    width: var(--pagewidth);
}

hr {
    margin-top: -25px;
}

#main {
    padding-left: 200px;
}

img {
    width: var(--pagewidth);
    height: auto;
}